body {
    color: #dfdedc  ;
    background-color: #3a3a3a;
    font-family: Aboreto;
    font-weight: 900;
}

header {
   text-align: center; 
   
}

h1 {
    font-family: "Rubik Broken Fax";
    font-size: 600%;
    font-weight: 20;
}

h2 {
    text-align: center;
    font-family: "Rubik Broken Fax";
    font-size: 200%;
    font-weight: 20;
}

#hero, footer {
    text-align: center;
    background-color: #4a4737;
    color: #dfdedc;
    padding: 20px;
    border: 10px outset #8a866e;
    border-radius: 100px;
}
#hero img {
    width: 250px;
}

#bio, #info {
    text-align: center;
}

#hobbies {
    text-align: center;
}

/* Gallery */

#gallery {
    border: 50px double #615B31;
    border-radius: 100px;
    margin-bottom: 2rem;
}

#gallery hr {
    border-bottom: 50px double #615B31;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

#gallery img {
    max-width: 100%;
    border: 20px solid #dfdedc;
}

#gallery figure {
    text-align: center;
    padding: 10px;
}

/* Literature */

#lit {
    border: 20px ridge #dfdedc;
    margin-bottom: 2rem;

}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 1rem;
}

/* Dropcaps */

#lit div p:first-letter {
    color:#615B31;
    background-image: linear-gradient(#fff, #615b31);
    float: left;
    font-size: 2.5rem;
    padding: 1rem;
    margin-right: 1rem;
    line-height: .65;
    border: 5px solid #615B31
}